<div class="custom-margin custom-height bg-section d-flex justify-content-center pt-5 ">
    <!------ first part width 75% ----------------------------------------->
    <div class=" w-75 px-4 py-4 ">
        <!-- cards---------------------------------------------- -->
        <div class="cards d-flex justify-content-around mb-5 ">
            <!-- --------first card-------------------------------------------->
            <div class="card width card-height border-0 p-3 rounded-4 bg-card-color text-color cursor-pointer">
                <span class="fw-bold fs-3">71,028 <span class=" fw-normal fs-6">EGP</span></span>
                <span class="fw-bold card-margin">Total Value</span>
                <span class="text-main d-flex align-items-center  ">
                    <i class="fa-solid fa-sort-down fa-sm me-2 mb-2"></i>
                    <span class="font-size">2%</span>
                </span>
            </div>
            <!-- --------seconde card----------------------------------------->
            <div class="card width card-height border-0 p-3 rounded-4 text-color cursor-pointer">
                <span class="fw-bold fs-3">20,000 <span class=" fw-normal fs-6">m <sup>3</sup></span></span>
                <span class="fw-bold card-margin">Total Salse</span>
                <span class="text-success d-flex align-items-center  ">
                    <i class="fa-solid fa-sort-up fa-sm me-2 mt-2"></i>
                    <span class="font-size">50 m<sup>3</sup></span>
                </span>
            </div>
            <!-- --------third card------------------------------------------>
            <div class="card width card-height border-0 p-3 rounded-4 text-color cursor-pointer">
                <span class="fw-bold fs-3">20,000 <span class=" fw-normal fs-6">m <sup>3</sup></span></span>
                <span class="fw-bold card-margin">Avg Salse</span>
                <span class="text-main d-flex align-items-center  ">
                    <i class="fa-solid fa-sort-down fa-sm me-2 mb-2"></i>
                    <span class="font-size">50 m<sup>3</sup></span>
                </span>
            </div>
            <!-- --------forth card------------------------------------------>
            <div class="card width card-height border-0 p-3 rounded-4 text-color cursor-pointer">
                <span class="fw-bold fs-3">1567</span>
                <span class="fw-bold card-margin mb-0">Total Transaction <span
                        class=" d-block lh-sm">Count</span></span>
                <span class="text-success d-flex align-items-center ">
                    <i class="fa-solid fa-sort-up fa-sm me-2 mt-2"></i>
                    <span class="font-size">20</span>
                </span>
            </div>
        </div>

        <!-------- select option--------------------------------------------->
        <div
            class=" d-flex justify-content-center align-items-center text-color  bg-white w-fit rounded-4  ms-auto mb-3">
            <div class="graph py-1 px-4 rounded-4 cursor-pointer option-fs" [class.active]="clicked"
                (click)="onclick()">
                <i class="fa-solid fa-signal me-1"></i>
                <span>GRAPH</span>
            </div>
            <div class="list py-1 px-4 rounded-4 cursor-pointer option-fs " [class.active]="clicked2"
                (click)="onclick2()">
                <i class="fa-solid fa-bars me-1"></i>
                <span>LIST</span>
            </div>
        </div>
        <!----------- selected charts -------------------------------------------------->
        <!-------------- graph------------------------------------------------->
        <div [class.display]="!clicked" class="charts chart-dimentions mx-auto  bg-white px-2 rounded-4">
            <canvas id="MyChart1">{{charts1}}</canvas>
        </div>
        <!---------------- list---------------------------------------------------->
        <div [class.display]="!clicked2" class="list-height div w-100 ">
            <app-list></app-list>
            <app-list></app-list>
            <app-list></app-list>
        </div>
    </div>





    <!------ seconde part width 25% ----------------------------------------->

    <div class=" w-25 px-5 ">
        <!-- radar charts------------------------------------->
        <div class=" chart-radar">
            <div class="charts">
                <canvas id="MyChart2">{{charts2}}</canvas>
            </div>
        </div>
        <!---------------- stations carts------------------------------------->
        <div class="mt-5">
            <p class="text-center fw-bold text-color fs-progress mb-4 ">Salse By Station</p>
            <!-------------------- first station ----------------------------->
            <div class="staion station-fs fw-bold text-color position-relative mb-5">
                <img width="35" class="me-2" src="assets/gas-station-svgrepo-com.svg" alt="">
                <span class="me-4">Station Name</span>
                <span class="fs-6">62.721m<sup>3</sup></span>
                <div class="progress position-absolute">
                    <div class="progress-bar1"></div>
                </div>
            </div>
            <!-------------------- seconde station ----------------------------->
            <div class="staion station-fs fw-bold text-color position-relative mb-5">
                <img width="35" class="me-2" src="assets/gas-station-svgrepo-com.svg" alt="">
                <span class="me-4">Station Name</span>
                <span class="fs-6">62.721m<sup>3</sup></span>
                <div class="progress position-absolute">
                    <div class="progress-bar2"></div>
                </div>
            </div>
            <!-------------------- theird station ----------------------------->
            <div class="staion station-fs fw-bold text-color position-relative mb-5">
                <img width="35" class="me-2" src="assets/gas-station-svgrepo-com.svg" alt="">
                <span class="me-5">Station Name</span>
                <span class="fs-6 ps-4 opacity-50">NM</span>
                <div class="progress position-absolute bg-color last opacity-50">
                    <div class="progress-bar3"></div>
                </div>
            </div>
        </div>
    </div>















</div>