<!------------------list item 1 --------------------------------->
<div class="item bg-white py-3 px-5 rounded-4  mb-4 me-3">
    <div class="header d-flex justify-content-between align-items-center">
        <div class="logo d-flex  align-items-center position-relative">
            <div class="img me-3">
                <img src="assets/gas-station-svgrepo-com.svg" alt="">
            </div>
            <span class="fw-bold text-color">Station Name <span class=" d-block">Dummy</span> </span>
            <div class="circle position-absolute"></div>
        </div>
        <i class="fa-solid fa-ellipsis fa-lg"></i>
    </div>
    <hr>

    <!-------- list item data ------------------------------->
    <!--------------first row-------------------------------->
    <div class="data d-flex justify-content-between">
        <div class="col text-center">
            <span class="fw-bold fs-list-data  d-inline-block">Total Salse
                <span class=" d-inline-block ms-5 fw-normal">62.721 m
                    <sup>3</sup>
                </span>
            </span>
        </div>
        <div class="col text-center">
            <span class="fw-bold fs-list-data  d-inline-block">Compression State
                <span class=" d-inline-block ms-5 fw-normal">Compression
                    <sup>3</sup>
                </span>
            </span>
        </div>
        <div class="col text-center">
            <span class="fw-bold fs-list-data  d-inline-block">Max Transaction /hour
                <span class=" d-inline-block ms-5 fw-normal">20
                    <sup>3</sup>
                </span>
            </span>
        </div>
    </div>
    <!--------------seconde row-------------------------------->
    <div class="data d-flex justify-content-between mt-3">
        <div class="col text-center">
            <span class="fw-bold fs-list-data  d-inline-block">Total value
                <span class=" d-inline-block ms-5 fw-normal">550 EGP
                    <sup>3</sup>
                </span>
            </span>
        </div>
        <div class="col text-center">
            <span class="fw-bold fs-list-data  d-inline-block">Total Transaction Count
                <span class=" d-inline-block ms-4 fw-normal">Compression
                    <sup>3</sup>
                </span>
            </span>
        </div>

        <div class="col text-end">
            <span class="fw-bold fs-list-data  d-inline-block">Max Transaction Date-Time
                <span class=" d-inline-block ms-3 fw-normal">8-1-2021 | 10:16 pm
                    <sup>3</sup>
                </span>
            </span>
        </div>
    </div>

</div>