<header class="custom-margin custom-height text-color d-flex justify-content-around align-items-center px-4 ">
    <!--------header element 1 ( monitored station ) ------------------------------------>
    <div class="element1 d-flex justify-content-center align-items-center position-relative ">
        <img src="assets/gas-station-svgrepo-com.svg" alt="gas station sign">
        <span class="fs-3 ">2/3</span>
        <div class="text fw-medium d-inline-block">
            <span>Monitored</span><br>
            <span>Stations</span>
        </div>
        <div class="sign-circle position-absolute"></div>
    </div>
    <!--------header element 2 ( last update ) ------------------------------------>
    <div class="element2 d-flex justify-content-center align-items-center position-relative ">
        <img src="assets/rotate-right-solid-svgrepo-com.svg" alt="loading sign">
        <span class="fs-3 ">20s</span>
        <div class="text fw-medium d-inline-block">
            <span>Last</span><br>
            <span>Update</span>
        </div>
        <div class="sign-circle position-absolute"></div>
    </div>
    <!--------header element 3 ( days ) ------------------------------------>
    <div class="element3 d-flex justify-content-center align-items-center  fs-custom bg-section rounded-5 ">
        <a href="#" class="py-1 px-3 my-0 rounded-5 text-decoration-none text-light bg-main ">TODAY</a>
        <a href="#" class="py-1 px-2 mx-1 my-0 rounded-5 text-decoration-none text-dark ">YESTERDAY</a>
        <a href="#" class="py-1 px-3 my-0 rounded-5 text-decoration-none text-dark">LAST WEEK</a>
    </div>
    <!--------header element 4 ( start date )------------------------------------>
    <div
        class="element4 d-flex justify-content-between align-items-center custom-width custom-border pb-2 position-relative ">
        <span><span class="fw-bold me-1">Start</span>date-time</span>
        <img class="img-width m-0" src="assets/calender.svg" alt="calender sign">
        <div class="sign-arrow position-absolute"></div>
    </div>
    <!--------header element 5 ( end date ) ------------------------------------>
    <div
        class="element5 d-flex justify-content-between align-items-center custom-width custom-border pb-2 position-relative ">
        <span><span class="fw-bold me-1">End</span>date-time</span>
        <img class="img-width m-0" src="assets/calender.svg" alt="calender sign">
        <div class="sign-square position-absolute"></div>
    </div>
</header>