<!------ sidebar container ------------------------------------------------------>
<aside class="sidebar-width bg-main vh-100 position-fixed top-0 sidebar-rounded py-4
d-flex flex-column justify-content-between align-items-center">
    <!------ sidebar element 1 -------------------------------------------------->
    <a href="#">
        <img class="custom-width" src="assets/PMS.svg" alt="">
    </a>
    <!------ sidebar element 2 --------------------------------------------------->
    <div>
        <a href="#" class="my-4 d-block">
            <img src="assets/control-room.svg" alt="">
        </a>
        <a href="#" class="my-4 d-block">
            <img src="assets/dashboard.svg" alt="">
        </a>
        <a href="#" class="my-4 d-block">
            <img src="assets/elements.svg" alt="">
        </a>
        <a href="#" class="my-4 d-block">
            <img src="assets/settings.svg" alt="">
        </a>
        <a href="#" class="my-4 d-block">
            <img src="assets/notifications.svg" alt="">
        </a>
    </div>
    <!------ sidebar element 3 -------------------------------------------------->
    <a href="#">
        <img class="custom-width" src="assets/logout.svg" alt="">
    </a>

</aside>